@{
    ViewBag.Title = "主页";
}

<!-- 主页部分 -->
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET Framework MVC5 Demo</h1>
        <p class="lead">ASP.NET Framework MVC5 是一个免费而又成熟的 Web 框架，用于使用 HTML、CSS 和 JavaScript 构建出色的网站和 Web 应用。</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">简介</h2>
            <p>
                这是一个简单的增删改查项目，其中包含微软提供的账户登录及鉴权等方法与功能
                用户管理界面、图书管理界面，由于个人原因暂时没有完成所有的功能。
            </p>
        </section>
        <section class="col-md-4">
            <h2>Get more libraries</h2>
            <p>
                调用web api的视图层使用cshtml、jquery、ajax、bootbox、dataTable等模块构成前端，
                由于返回数据的类型的区别，后端需要数据传输对象层和模型层进行对象元素的映射。
            </p>
        </section>
        <section class="col-md-4">
            <h2></h2>
            <p>
                调用控制器的仅使用cshtml和其MVC架构内置方法构成前端。
                后端需要将公司内部sql方法返回的dataTable数据类型转换为模型层对应的的数据类型。
            </p>
        </section>
    </div>
</main>