@{
    ViewBag.Title = "主页";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET 是一个免费的 Web 框架，用于使用 HTML、CSS 和 JavaScript 构建出色的网站和 Web 应用进程。</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">获取更多信息 &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">开始</h2>
            <p>
                ASP.NET MVC 为您提供了一种强大的、基于模式的方法来构建动态网站，从而实现关注点的清晰分离，并让您完全控制标记，从而实现愉快、敏捷的开发。
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">获取更多信息 &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">获取更多信息</h2>
            <p>
                NuGet 是一个免费的 Visual Studio 扩展，可以轻松地在 Visual Studio 项目中添加、删除和更新库和工具。
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">获取更多信息 &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">
                虚拟主机
            </h2>
            <p>
                您可以轻松找到一家网络托管公司，为您的应用程序提供合适的功能和价格组合。
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">获取更多信息 &raquo;</a></p>
        </section>
    </div>
</main>