@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "已锁定";
}

<main>
    <hgroup>
        <h1 class="text-danger">Locked.</h1>
        <h2 class="text-danger">
            账号被锁定，请过段时间重试。
        </h2>
    </hgroup>
</main>
